a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sign-in {
    background-color: rgb(102, 125, 255);
    color: white;
    border-radius: 10%;
    border-style: none;
}